

<div class="empty" *ngIf="!person">
    <span> No person has been provided. </span>
</div>


<ng-container *ngIf="person">
    <div class="block">
        <span class="label"> ID: </span>
        <span class="value"> #{{ person.id }} </span>
    </div>
    <div class="block">
        <span class="label"> Name: </span>
        <span class="value"> {{ person.name }} </span>
    </div>
    <div class="block">
        <span class="label"> Age: </span>
        <span class="value"> {{ person.age }} years </span>
    </div>
    <div>
        <div class="badge" *ngIf="person.isCustomer"> CUSTOMER </div>
    </div>
</ng-container>
